# Web Framework
fastapi
uvicorn

# PDF & DOCX Parsing
pdfplumber
python-docx

# Utilities
pydantic==1.10.13
pydantic-settings

# ML/NLP for enhanced matching
scikit-learn
sentence-transformers
numpy

streamlit
requests

# MongoDB dependencies
pymongo
motor
beanie
python-dotenv
python-multipart 
